.aboutmecontainer {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 40px 0;
}
.header {
  text-align: center;
}

.spantitle {
  font-size: 2rem;
  color: #64FFDA;
}

.underline {
  width: 80px;
  height: 3px;
  background: #64FFDA;
  margin: 8px auto 15px;
  border-radius: 2px;
}
.aboutmecontent {
  width: 90%;
  max-width: 1100px;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.aboutmecontent h3 {
  font-size: 1.8rem;
  text-align: center;
  margin-bottom: 10px;
  color: #64FFDA;
}


.aboutmetext,
.experiences,
.englishlevelandgrowth {
  background: #112240;
  padding: 20px;
  border-radius: 12px;
  border: 1px solid #233554;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
  font-size: 1rem;
  line-height: 1.5;
  color: #E6F1FF;

  transition: transform 0.3s ease, box-shadow 0.3s ease, border-color 0.3s ease;
}


.aboutmetext:hover,
.experiences:hover,
.englishlevelandgrowth:hover {
  transform: translateY(-6px);
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.45);
  border-color: #64FFDA;
}



@media (min-width: 768px) {
  .aboutmecontent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    align-items: stretch;
  }

  .aboutmecontent h3 {
    grid-column: span 3;
  }
}